<!-- Main Content -->
    <div class="index-container">
      <div class="index-bg">

        <div class="container">
          <div class="col-lg-8 col-md-10 mx-auto">

            <div class="add-prompt-div text-center">
              <%= link_to "Add Prompt", new_prompt_path, class: "btn btn-primary btn-block" %>
            </div>

            <% @prompts.each do |prompt| %>
            <div class="post-preview">
              <% if prompt.free? %>
              <div class="title-link"><%= link_to "free write", prompt_path(prompt.id) %></div>
              <% end %>
              <% if !prompt.free? %>
              <div class="title-link"><%= link_to prompt.word.word, prompt_path(prompt.id) %></div>
              <% end %>
                <h2 class="post-title"><%= prompt.body %></h2>
                <h3 class="post-subtitle">
                  <%= "#{prompt.body.split.size} words" %>
                </h3>
              <p class="post-meta"><%= time_display(prompt.created_at) %></p>
            </div>
            <% end %>

            <!-- Pager -->
            <div class="clearfix">
              <!-- <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
