<!-- Main Content -->
    <div class="index-container">
      <div class="index-bg">
        <%= link_to "Add Prompt", "prompts/new", class: "btn" %>

        <div class="col-lg-8 col-md-10 mx-auto">
          <% @prompts.each do |prompt| %>
          <div class="post-preview">
            <%= link_to_prompt(prompt)%>
              <h2 class="post-title">
                <%= prompt.body %>
              </h2>
              <!-- <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3> -->
            <p class="post-meta">Posted by
              <%= prompt.user.email %>
              on <%= time_display(prompt.created_at) %></p>
          </div>
          <% end %>
          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
