<div class="prompt-container">
<div class="prompt-bg">


<%= render "shared/timer" %>

  <div class="word-info">
    
    <div class="the-word">
      <%= "#{@prompt.term}" %>
    </div>

    <div class="the-definition">
      <%= "#{@def}" %>
    </div>

  </div>


  <%= form_for(@prompt) do |f| %>

    <%= f.hidden_field :word_id%>


  <!-- <div class="prompt-body">
    <%= f.text_area :body, :rows => "20", :cols => "60"  %>
  </div> -->

  <div id="prompt-text-area" class="prompt-body">
    <%= f.text_area :body, autofocus: true, placeholder: "Hi friend. Hit that timer and start writing." %>
  </div>

  <div class="prompt-submit-button">
    <%= f.submit %>
  </div>


  <% end %>
</div>
</div>
