<div>
<%= "Your random word is: #{@word}." %>
</div>

<div>
  <%= "Definition: #{@def}." %>
</div>

<div>
  <%= "Word Type: #{@type}." %>
</div>

<div>
  <%= "Synonyms: #{@synonyms}." %>
</div>


<%= form_for(@prompt) do |f| %>

<div id="random-word">
  <%= f.label :random_word %>
  <%= f.text_field :random_word, value: @word%>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body, :rows => "20", :cols => "60"  %>
</div>

<div>
  <%= f.submit %>
</div>


  <!--  Start Timer Section -->
  <div class="timer">
    <div class="timer__controls">
      <!-- <button type="button" data-time="20" class="timer__button">20 Secs</button> -->
      <button type="button" data-time="300" class="timer__button">5 Minutes</button>
      <button type="button" data-time="600" class="timer__button">10 Minutes</button>
      <button type="button" data-time="900" class="timer__button">15 Minutes</button>
      <button type="button" data-time="1200" class="timer__button">20 Minutes</button>
      <!-- <button type="button" data-time="3600" class="timer__button">Lunch Break</button> -->
      <!-- <form name="customForm" id="custom">
        <input type="text" name="minutes" placeholder="Enter Minutes">
      </form> -->
    </div>
    <div class="display">
      <h1 class="display__time-left"></h1>
      <p class="display__end-time"></p>
    </div>
  </div>
  <!-- End Timer Section -->

<% end %>
