<%= form_for(@prompt) do |f| %>

<div>
  <%= f.label :random_word %>
  <%= f.text_field :random_word, placeholder: "placeholder" %>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
