<div>
<%= "Your random word is: #{@word}." %>
</div>

<div>
  <%= "Definition: #{@def}." %>
</div>

<div>
  <%= "Word Type: #{@type}." %>
</div>

<div>
  <%= "Synonyms: #{@synonyms}." %>
</div>


<%= form_for(@prompt) do |f| %>

<div id="random-word">
  <%= f.label :random_word %>
  <%= f.text_field :random_word, value: @word%>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit %>
</div>

<!-- TIMER
create a variable and set it equal to the number of seconds
while that variable can still be decremented, decrement the number
then alert the user that time is up -->

<span id="timer"></span>

<script>

// - what is setInterval?


var count = 300; // 300 seconds === 5 minutes
var counter = setInterval(timer, 1000); //1000 will  run it every 1 second

function timer() {
  count = count - 1;
  if (count <= 0) {
    clearInterval(counter);
    //counter ended, do something here
    console.log('Timer Done!');
    return;
  }

  document.getElementById("timer").innerHTML=count + " secs"; // watch for spelling
}

</script>


<% end %>
