<div>
<%= "Your random word is: #{@word}." %>
</div>

<div>
<%= "Definition: #{@def}." %>
</div>

<%= form_for(@prompt) do |f| %>

<div id="random-word">
  <%= f.label :random_word %>
  <%= f.text_field :random_word, value: @word%>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
