<div class="index-container">
  <div class="index-bg">


<!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">


            <div class="post-preview">
              <div class="prompt-word"><%= @random_word%></div>
              <h3 class="post-subtitle"><%= @def %></h3>
              <h2 class="post-title"><%= @body %></h2>
              <p class="post-meta">
                <%= time_display(@prompt.created_at) %>
              </p>
              <span class="caption text-muted"><%= "Word Count: #{@word_count} words" %></span>
              <div class="prompt-buttons">
                <%= link_to "View My Prompts", prompts_path, class: 'btn btn-primary my-2' %>
                <%= link_to 'Edit Prompt', edit_prompt_path, class: 'btn btn-secondary my-2' %>
              </div>
            </div>




        </div>
      </div>
    </article>

  </div>
</div>
