
<div class="index-container">
  <div class="index-bg">

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to Daily Prompt</h1>
          <p class="lead text-muted">We are a community of <%= @users.count %> songwriters, lyricists, and creative spirits. <Br>Join us for daily 5-minute object writing prompts.</p>
          <p><%= @total_word_count %></p>
          <p>
            <% if user_signed_in? %>
              <%= link_to 'Create Daily Prompt', new_prompt_path, class: 'btn btn-primary my-2' %>
            <% else %>
              <%= link_to 'Create Account', new_user_registration_path, class: 'btn btn-primary my-2' %>
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-secondary my-2' %>
            <% end %>
          </p>
        </div>
      </section>

    <div class="album text-muted users-album">
      <div class="container users-container">
        <div class="row users-row">
           <% @users.each do |user| %>
           <div class="card user-card mx-auto">
              <strong class="user-username"><%= user.username %></strong>
              <p class="user-city"><i class="fa fa-map-marker-alt"></i> <%= user.city %></p>
              <p class="user-bio"><i class="fa fa-heart"></i> <%= user.bio %></p>
              <p class="user-prompt-count"><%= pluralize(user.prompts.count, 'prompt') %> written</p>

              <ul class="list-inline text-center">
                <% if user.twitter %>
                  <li class="list-inline-item">
                    <%= link_to user.twitter, target: "_blank" do %>
                      <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    <% end %>
                  </li>
                <% end %>
                <% if user.instagram %>
                  <li class="list-inline-item">
                    <%= link_to user.facebook, target: "_blank" do %>
                      <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    <% end %>
                  </li>
                <% end %>
                <% if user.instagram %>
                  <li class="list-inline-item">
                    <%= link_to user.twitter, target: "_blank" do %>
                      <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                      </span>
                    <% end %>
                  </li>
                <% end %>
                <% if user.soundcloud %>
                  <li class="list-inline-item">
                    <%= link_to user.soundcloud, target: "_blank" do %>
                      <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
                      </span>
                    <% end %>
                  </li>
                <% end %>
              </ul>


           </div>
           <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
