
<!-- Main Content -->
<div class="index-container">
  <div class="index-bg">
    <div class="container dashboard-bg">
      <div class="row">
        <div class="col-sm-4">
          <div class="dashboard-highlights">
            <div class="dashboard-words-written">
              <%= "Words Written: #{total_words_written_by_user}" %>
            </div>
            <div class="dashboard-prompts-written">
              <%= "Prompts Written: #{total_prompts_written_by_user}" %>
            </div>
            <div class="dashboard-avg-words-per-prompt">
              <%= "Avg. Words/Prompt: #{average_words_per_prompt_by_user}" %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="dashboard-prompts">
            <% if current_user.prompts.last.created_at.to_date != Date.current%>
              <div class="add-prompt-div text-center">
                <%= link_to "Did you write today?", new_prompt_path, class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <table class="table table-responsive text-center">
              <thead">
                <tr>
                  <th scope="col">Word of the Day</th>
                  <th scope="col">Date</th>
                  <th scope="col">Word Count</th>
                </tr>
              </thead>
              <tbody>
                <% prompts.each do |prompt| %>
                <tr>
                  <td><%= link_to prompt.word.word, prompt_path(prompt.id) %></td>
                  <td><%= time_display(prompt.created_at) %></td>
                  <td><%= prompt.word_count %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
