
<!-- Main Content -->
<div class="index-container">
  <div class="index-bg">
    <div class="container dashboard-bg">

      <div class="row">
        <div class="col-lg-12">
          <div class="dashboard-stats-overview">
            <div class="dashboard-stats-intro">
              <%= "Congrats, you're currently on a " + "#{current_user.streak(:prompts)} day writing streak" + ". You've created " + "#{total_prompts_written_by_user}" + " prompts for a total of " + "#{total_words_written_by_user}" + " words. Your average prompt is " + "#{average_words_per_prompt_by_user}" + " words." %>
            </div>
          </div>
        </div>


        <div class="col-lg-12">
          <div class="dashboard-prompts">
            <% if current_user.prompts.last.created_at.to_date != Date.current%>
              <div class="add-prompt-div text-center">
                <%= link_to "Did you write today?", new_prompt_path, class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <table class="table text-center dashboard-prompts-table">
              <thead">
                <tr>
                  <th scope="col">Word of the Day</th>
                  <th scope="col">Date</th>
                  <th scope="col">Word Count</th>
                </tr>
              </thead>
              <tbody>
                <% @sorted_prompts.each do |prompt| %>
                <tr>
                  <% if !prompt.free? %>
                  <td><%= link_to prompt.word.word, prompt_path(prompt.id) %></td>
                  <td><%= prompt.word.publish_date.strftime("%m/%d/%Y") %></td>
                  <td><%= prompt.word_count %></td>
                  <% end %>
                  <% if prompt.free? %>
                  <td><%= link_to prompt.focus_word, prompt_path(prompt.id) %></td>
                  <td><%= prompt.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= prompt.word_count %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
</div>
